<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="todoValue">
    <button v-on:click="handleButton">提交</button>
    <ul>
      <!-- <li v-for="item in list">{{item}}</li> -->
      <todo-item v-bind:content="item" v-for="item in list"></todo-item>
      <!-- <li>第二课的内容</li> -->
    </ul>
  </div>

  <script src="./vue.js"></script>
  <script>

    // Vue.component("TodoItem", {
    //   props:["content"],
    //   template:"<li>{{content}}</li>"
    // })

    var TodoItem = {
      props:["content"],
      template:"<li>{{content}}</li>"
    }
  
    var app = new Vue({
      el:"#app",
      components:{
        TodoItem:TodoItem
      },
      data:{
        list:[],
        todoValue:""
      },
      methods: {
        handleButton:function(){
          this.list.push(this.todoValue);
          this.todoValue=""
        }
      },
    })

  </script>
</body>
</html>
